@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DCO Cloud's Test Page </h1>
    <img src="DotNetCoreSqlDb/Views/Home/seal.png" alt="State of Louisiana"> 
    <p>This was built from the tutorial on how to Deploy an ASP.NET Core and Azure SQL Database app</a>.</p>
</div>

